* {
  margin: 0; /* Remove todas as margens padrão */
  padding: 0; /* Remove todos os preenchimentos padrão */
  box-sizing: border-box; /* Define a caixa de modelo como border-box para incluir o preenchimento e a borda no cálculo da largura e altura */
  font-family: "Poppins", sans-serif; /* Define a família de fontes padrão para todo o documento */
}

body {
  display: flex; /* Define o modelo de exibição como flexível para facilitar o posicionamento dos elementos filhos */
  justify-content: center; /* Centraliza os elementos horizontalmente */
  align-items: center; /* Centraliza os elementos verticalmente */
  min-height: 100vh; /* Define a altura mínima do corpo para ocupar toda a altura da tela */
  background: url("img/magestoso.jpeg") no-repeat; /* Define a imagem de fundo e impede a repetição */
  background-size: cover; /* Garante que a imagem de fundo cubra toda a área */
  background-position: center; /* Centraliza a imagem de fundo */
}

.wrapper {
  width: 420px; /* Define a largura da área de login */
  background-color: transparent; /* Define a cor de fundo como transparente */
  border: 2px solid rgba(255, 255, 255, 0.2); /* Define uma borda sólida com transparência */
  backdrop-filter: blur(20px); /* Aplica um efeito de desfoque ao fundo */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra ao redor da área de login */
  color: #fff; /* Define a cor do texto */
  border-radius: 10px; /* Adiciona bordas arredondadas */
  padding: 30px 45px; /* Adiciona preenchimento interno */
}

.wrapper h1 {
  font-size: 36px; /* Define o tamanho da fonte do título */
  text-align: center; /* Centraliza o título */
}

.wrapper .input-box {
  position: relative; /* Define a posição como relativa para que os elementos filhos possam ser posicionados relativamente a este */
  width: 100%; /* Define a largura total */
  height: 50px; /* Define a altura */
  margin: 30px 0; /* Adiciona margens superior e inferior */
}

.input-box input {
  width: 100%; /* Define a largura total */
  height: 100%; /* Define a altura total */
  background: transparent; /* Define o fundo do campo de entrada como transparente */
  border: none; /* Remove a borda padrão */
  outline: none; /* Remove o contorno de foco */
  border: 2px solid rgba(255, 255, 255, 0.2); /* Define uma borda com transparência */
  border-radius: 40px; /* Adiciona bordas arredondadas */
  font-size: 16px; /* Define o tamanho da fonte */
  color: #fff; /* Define a cor do texto */
  padding: 20px 45px 20px 20px; /* Adiciona preenchimento interno */
}

.input-box input::placeholder {
  color: #fff; /* Define a cor do texto do espaço reservado */
}

.input-box i {
  position: absolute; /* Define a posição como absoluta para que o ícone possa ser posicionado em relação ao elemento pai */
  right: 20px; /* Define a distância da direita */
  top: 50%; /* Define a posição superior a 50% do elemento pai */
  transform: translateY(
    -50%
  ); /* Move o ícone para cima para centralizá-lo verticalmente */
  font-size: 20px; /* Define o tamanho do ícone */
}

.wrapper .remember-forgot {
  display: flex; /* Define o modelo de exibição como flexível para os elementos internos */
  justify-content: space-between; /* Distribui os elementos igualmente ao longo do eixo principal */
  font-size: 14.5px; /* Define o tamanho da fonte */
  margin: -15px 0 15px; /* Adiciona margens superior e inferior */
}

.remember-forgot label input {
  accent-color: #fff; /* Define a cor do controle de entrada de destaque */
  margin-right: 3px; /* Adiciona uma margem à direita */
}

.remember-forgot a {
  color: #fff; /* Define a cor do texto do link */
  text-decoration: none; /* Remove a decoração de texto do link */
}

.remember-forgot a:hover {
  text-decoration: underline; /* Adiciona uma linha sublinhada ao passar o mouse sobre o link */
}

.wrapper .btn {
  width: 100%; /* Define a largura total */
  height: 45px; /* Define a altura */
  background: #fff; /* Define a cor de fundo do botão */
  border: none; /* Remove a borda */
  outline: none; /* Remove o contorno de foco */
  border-radius: 40px; /* Adiciona bordas arredondadas */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra ao redor do botão */
  cursor: pointer; /* Define o cursor como ponteiro */
  font-size: 16px; /* Define o tamanho da fonte */
  color: #333; /* Define a cor do texto */
  font-weight: 600; /* Define o peso da fonte */
}

.btn:hover {
  background-color: #eaeaea; /* Define a cor de fundo do botão ao passar o mouse sobre ele */
}

.wrapper .register-link {
  font-size: 14.5px; /* Define o tamanho da fonte */
  text-align: center; /* Centraliza o texto */
  margin: 20px 0 15px; /* Adiciona margens */
}

.register-link p a {
  color: #fff; /* Define a cor do texto do link */
  text-decoration: none; /* Remove a decoração de texto do link */
  font-weight: 600; /* Define o peso da fonte */
}

.register-link p a:hover {
  text-decoration: underline; /* Adiciona uma linha sublinhada ao passar o mouse sobre o link */
}
